<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<div class="container clearfix">
    <div class="main">
        <h4>Planète mère</h4><br />
        <div id="planete">
            <div class="steps" id="planeteRender">
                <p>Planète <%= joueur.PlaneteMere.Nom %></p>
                <script>
                    var scene = new THREE.Scene();
                    var div = document.getElementById("planeteRender");
                    var camera = new THREE.PerspectiveCamera(45, div.clientWidth/div.clientHeight, 0.1, 1000);

                    var renderer = new THREE.WebGLRenderer();
                    renderer.setSize(div.clientWidth, div.clientHeight);
                    div.appendChild(renderer.domElement);

                    var geometry = new THREE.SphereGeometry(45, 24, 24);
                    var material = new THREE.MeshBasicMaterial({color: 0x235685, wireframe: true});
                    var sphere = new THREE.Mesh(geometry, material);
                    scene.add(sphere);

                    camera.position.z = 150;
                    camera.position.y = -10;

                    var render = function () {
                        requestAnimationFrame(render);

                        sphere.rotation.y += 0.002;

                        renderer.render(scene, camera);
                    };

                    render();
                </script>
            </div>
            <span class="infoPlanete">
                Coordonnées : <%= joueur.PlaneteMere.Coordonnees %>
                Population : <%= general.format_number(joueur.PlaneteMere.Population)%><br />
                Bonheur : <%= joueur.PlaneteMere.Bonheur %>%<br />
                Corruption : <%= joueur.PlaneteMere.Insecurite %>%<br />
                Besoin : <%= Math.floor((10/365.25*parseInt(joueur.PlaneteMere.Population))/1000000) %> Millions de T<br />
                Production : <%= joueur.PlaneteMere.Matiere_Premiere %> Millions de T<br />
                Taux d'imposition : 
                <select id="Taux_Imposition">
                    <% 
                    i = 0;
                    while(i <= 100)
                    {
                        if(i == joueur.PlaneteMere.Taux_Imposition)
                        {
                            %>
                            <option selected><%= i %>%</option>
                            <%
                        }
                        else
                        {
                            %>
                            <option><%= i %>%</option>
                            <%
                        }
                        i += 10;
                    }
                    %>
                </select> 
                <br />
                Défense : <%= joueur.PlaneteMere.Defense %> <br />
            </span>
            <br /><br />
            <a class="link" href="/macro">Vue empire >>></a>
        </div>
    </div> <%- partial('../partials/TdB') %>
   
</div>
<script type="text/javascript">
    //Appel ajax qui envoi les infos pour changer le taux d'imposition
    function changeImposition() {
        var newTaux = $("#Taux_Imposition").val().split("%");
        newTaux = newTaux[0];
        $.post(
            '/update',
            {planete: <%= joueur.PlaneteMere.idPlanetes %>, taux:newTaux},
            function () {
                
            }
        ).fail(function(res) {
            alert(res.getResponseHeader("error"));
        });
    }
    //Mise en place des events
    $("#Taux_Imposition").change(function() {
        changeImposition();
    });
</script>