<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<div class="container clearfix">
    <div class="main">
        <h4>Empire</h4><br />
        <div class="steps" id="planetes">
            <% 
            for(i=0; i<joueur.Planetes.length;i++)
            {
                %>
                <div class="planete" <%if(joueur.Planetes[i].Type == 1) { %> style="border-color: #235685" <%} else if  (joueur.Planetes[i].Type == 2) { %> style="border-color: #501000" <% } else { %> style="border-color: #125632" <% }%>>
                    <p><%= joueur.Planetes[i].Nom %></p>
                    <%= joueur.Planetes[i].Coordonnees %><br /> 
                    <% 
                    if(joueur.Planetes[i].Type == 1)
                    {
                        %>Urbanisée<%
                    }
                    else if(joueur.Planetes[i].Type == 2)
                    {
                        %>Minière<%
                    }
                    else
                    {
                        %>Agricoles<%
                    }
                    %>
                    <input type="hidden" name="id" id="id" value="<%= joueur.Planetes[i].idPlanetes %>" />
                </div>
                <%
            }
            %>
        </div>
    </div>
    <div class="side-bar">
        <h4 id="new">
            Tableau de bord
        </h4>
        <br /><br />
        <ul style="width: 150px;">
            <li style="vertical-align: middle;">
                <%= general.format_number(joueur.Ressources.Argent) %>
                <img src="/images/picto/argent.png" alt="Argent" title="Argent"  style="width: 24px; height: 24px;display: inline;vertical-align: middle; float: right;"/>
            </li>
            <li style="vertical-align: middle;">
                <%= general.format_number(joueur.Ressources.Aluminium) %>
                <span style="float: right;">Alu.</span>
            </li>
            <li style="vertical-align: middle;">
                <%= general.format_number(joueur.Ressources.Titane) %>
                <span style="float: right;">Titane</span>
            </li>
            <li style="vertical-align: middle;">
                <%= general.format_number(joueur.Ressources.Carbone) %>
                <span style="float: right;">Carbone</span>
            </li>
            <li style="vertical-align: middle;">
                <%= general.format_number(joueur.Ressources.Uranium) %>
                <img src="/images/picto/uranium.png" alt="Uranium" title="Uranium"  style="width: 24px; height: 24px;display: inline;vertical-align: middle; float: right;"/>
            </li>
            <li style="vertical-align: middle;">
                <%= general.format_number(joueur.Ressources.Energie) %>
                <img src="/images/picto/energie.png" alt="Energie" title="Energie" style="width: 24px; height: 24px;display: inline;vertical-align: middle; float: right;"/>
            </li>
            <li style="vertical-align: middle;">
                <%= general.format_number(joueur.Ressources.Matiere_Premiere) %>
                <img src="/images/picto/MP2.png" alt="Matière première" title="Matière Première" style="width: 24px; height: 24px;display: inline;vertical-align: middle; float: right;"/>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
//Appel ajax qui envoi username et passowrd à la page login en 
    //en post pour connection
    function redirect(test) {
        var id = $(test).find("#id").val();
        window.location = "/micro/"+id;
    }
    //Mise en place de l'event
    $(".planete").click(function () {
        redirect(this);
    });
</script>

