<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<div class="container clearfix">
    <div class="main">
        <p> <a class="link" href="/play"> <<< Retour Acceuil </a> </p>
        <div id="planete">
            <div class="steps" id="planeteRender">
                <p>Planète <%= joueur.Planete.Nom %></p>
                <script>
                    var scene = new THREE.Scene();
                    var div = document.getElementById("planeteRender");
                    var camera = new THREE.PerspectiveCamera(45, div.clientWidth/div.clientHeight, 0.1, 1000);

                    var renderer = new THREE.WebGLRenderer();
                    renderer.setSize(div.clientWidth, div.clientHeight);
                    div.appendChild(renderer.domElement);

                    if(<%=joueur.Planete.Type%> == 1)
                        var material = new THREE.MeshBasicMaterial({color: 0x235685, wireframe: true});
                    else if(<%=joueur.Planete.Type%> == 2)
                        var material = new THREE.MeshBasicMaterial({color: 0x501000   , wireframe: true});
                    else
                        var material = new THREE.MeshBasicMaterial({color: 0x125632, wireframe: true});

                    var geometry = new THREE.SphereGeometry(45, 24, 24);
                    
                    var sphere = new THREE.Mesh(geometry, material);
                    scene.add(sphere);

                    camera.position.z = 150;
                    camera.position.y = -10;

                    var render = function () {
                        requestAnimationFrame(render);

                        sphere.rotation.y += 0.002;

                        renderer.render(scene, camera);
                    };

                    render();
                </script>
            </div>
            <span class="infoPlanete">
                Coordonnées : <%= joueur.Planete.Coordonnees %>
                Population : <%= general.format_number(joueur.Planete.Population)%><br />
                <%if(joueur.Planete.Type == 1) 
                {%>
                    Bonheur : <%= joueur.Planete.Bonheur %>%<br />
                    Corruption : <%= joueur.Planete.Insecurite %>%<br />
                    Besoin : <%= Math.floor((10/365.25*parseInt(joueur.Planete.Population))/1000000) %> Millions de T<br />
                    Production : <%= joueur.Planete.Matiere_Premiere %> Millions de T<br />
                    Taux d'imposition : 
                    <select id="Taux_Imposition">
                        <% 
                        i = 0;
                        while(i <= 100)
                        {
                            if(i == joueur.Planete.Taux_Imposition)
                            {
                                %>
                                <option selected><%= i %>%</option>
                                <%
                            }
                            else
                            {
                                %>
                                <option><%= i %>%</option>
                                <%
                            }
                            i += 10;
                        }
                        %>
                    </select> 
                    <br />
                    Défense : <%= joueur.Planete.Defense %> <br />
                <%}
                else if (joueur.Planete.Type == 2)
                {
                    explode = joueur.Planete.Extraction.split("#");
                    %>
                    Extraction / cycle : <br /> 
                    &nbsp;&nbsp;&nbsp;- <%= explode[0]*joueur.Planete.Niveau_Extraction %> <p title="Indice d'extraction : <%= explode[0] %>" style="display: inline;cursor: pointer;">Aluminium</p> <br />
                    &nbsp;&nbsp;&nbsp;- <%= explode[1]*joueur.Planete.Niveau_Extraction %> <p title="Indice d'extraction : <%= explode[1] %>" style="display: inline;cursor: pointer">Titane</p>  <br />
                    &nbsp;&nbsp;&nbsp;- <%= explode[2]*joueur.Planete.Niveau_Extraction %> <p title="Indice d'extraction : <%= explode[2] %>" style="display: inline;cursor: pointer">Carbone</p> <br />
                    &nbsp;&nbsp;&nbsp;- <%= explode[3]*joueur.Planete.Niveau_Extraction %> <p title="Indice d'extraction : <%= explode[3] %>" style="display: inline;cursor: pointer">Uranium</p> <br />
                    Niveau d'Extraction : <%= joueur.Planete.Niveau_Extraction %>
                <%}
                else
                {%>
                    Production : <%= joueur.Planete.Matiere_Premiere %> Millions de T<br />
                    <%
                }
                %>
            </span>
            <br /><br />
            <a class="link" href="/macro">Vue empire >>></a>

            <div id="batiments">
                <% 
                for(i=0; i<joueur.Planete.BatimentNew.Orphelins.length;i++)
                { 
                    %>
                    <a href="/batiment/<%= joueur.Planete.idPlanetes %>/<%= joueur.Planete.BatimentNew.Orphelins[i].idBatiments %>"><img src="/images/batiments/<%= joueur.Planete.BatimentNew.Orphelins[i].Image %>" title="<%= joueur.Planete.BatimentNew.Orphelins[i].Nom %>" /></a>
                    <%
                }
                %>
                <% 
                for(i=0; i<joueur.Planete.BatimentNew.Sciences.length;i++)
                { 
                    %>
                    <a href="/batiment/<%= joueur.Planete.idPlanetes %>/<%= joueur.Planete.BatimentNew.Sciences[i].idBatiments %>"><img class="newBatiment" src="/images/batiments/<%= joueur.Planete.BatimentNew.Sciences[i].Image %>" title="<%= joueur.Planete.BatimentNew.Sciences[i].Nom %>" />
                    <%
                }
                %>
            </div>
        </div>
    </div>
    <%- partial('../partials/TdB') %>
</div>
<script type="text/javascript">
    //Appel ajax qui envoi les infos pour changer le taux d'imposition
    function changeImposition() {
        var newTaux = $("#Taux_Imposition").val().split("%");
        newTaux = newTaux[0];

        $.post(
            '/update',
            {planete: <%= joueur.Planete.idPlanetes %>, taux:newTaux},
            function () {
                
            }
        ).fail(function(res) {
            alert(res.getResponseHeader("error"));
        });
    }
    //Mise en place des events
    $("#Taux_Imposition").change(function() {
        changeImposition();
    });
</script>
</script>