<!--Tableau de bord-->
<div class="side-bar">
    <h4>
        Tableau de bord
    </h4>
    <br /><br />
    <ul style="width: 150px;">
        <li style="vertical-align: middle;">
            <%= general.format_number(joueur.Ressources.Argent) %>
            <img src="/images/picto/argent.png" alt="Argent" title="Argent"  style="width: 24px; height: 24px;display: inline;vertical-align: middle; float: right;"/>
        </li>
        <li style="vertical-align: middle;">
            <%= general.format_number(joueur.Ressources.Aluminium) %>
            <span style="float: right;">Alu.</span>
        </li>
        <li style="vertical-align: middle;">
            <%= general.format_number(joueur.Ressources.Titane) %>
            <span style="float: right;">Titane</span>
        </li>
        <li style="vertical-align: middle;">
            <%= general.format_number(joueur.Ressources.Carbone) %>
            <span style="float: right;">Carbone</span>
        </li>
        <li style="vertical-align: middle;">
            <%= general.format_number(joueur.Ressources.Uranium) %>
            <img src="/images/picto/uranium.png" alt="Uranium" title="Uranium"  style="width: 24px; height: 24px;display: inline;vertical-align: middle; float: right;"/>
        </li>
        <li style="vertical-align: middle;">
            <%= general.format_number(joueur.Ressources.Energie) %>
            <img src="/images/picto/energie.png" alt="Energie" title="Energie" style="width: 24px; height: 24px;display: inline;vertical-align: middle; float: right;"/>
        </li>
        <li style="vertical-align: middle;">
            <%= general.format_number(joueur.Ressources.Matiere_Premiere) %>
            <img src="/images/picto/MP2.png" alt="Matière première" title="Matière Première" style="width: 24px; height: 24px;display: inline;vertical-align: middle; float: right;"/>
        </li>
    </ul>
    <div id="bilans">
		<ul>
			<li title="Bilans" class="active">Bilans</li>
			<li title="Armees">Armées</li>
			<li title="Espionnages">Espionnages</li>
			<li title="Commerces">Commerces</li>
		</ul>
		<div class="list-Bilans">
			<table>
				<tr>
					<td>Rapport de cycle</td>
					<td>18/11 18:57</td>
				</tr>
			</table>
		</div>
		<div class="list-Armees">
			<table>
				<tr>
					<td style="font-size: 11px;">Rapport d'attaque</td>
					<td>18/11 18:57</td>
				</tr>
			</table>
		</div>
		<div class="list-Espionnages">
			<table>
				<tr>
					<td>Rapport d'espionnage</td>
					<td>18/11 18:57</td>
				</tr>
			</table>
		</div>
		<div class="list-Commerces">
			<table>
				<tr>
					<td>Rapport d'échange</td>
					<td>18/11 18:57</td>
				</tr>
			</table>
		</div>

   	</div>
</div>

<script>
	$("#bilans ul li").click(bilan);

	function bilan()
	{
		var current_section = $("#bilans ul li.active");
		var next_section = $(this);

		current_section.removeClass("active");
		$(".list-"+current_section.attr("title")).hide();
		next_section.addClass("active");
		$(".list-"+next_section.attr("title")).show();

	}
</script>